.footer{
    color: #545454;
    padding-bottom: 60px;
    padding-top: 67px;
   }
   
   .footer__title{
    width: 318px;
    height: 18px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
   }