.header{
    padding-top: 45px;
    border-bottom: rgba(84, 84, 84, 70%);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 41px;
}

@media screen and (max-width:420px) {
    .header{
        padding-top: 28px;
        padding-bottom: 32px;
    }
}