.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0,0,0,.5);
    padding: 0 19px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal_opened {
 visibility: visible;
 pointer-events: all;
 opacity: 1;
 transition-delay: 0s;
}


.modal__container{
    background-color: white;
    border-radius: 10px;
    position: relative;
    width: 430px;
    height: 330px;
    margin: auto;
}

.modal__close-button{
    background-repeat: no-repeat;
    background-image: url(../images/Close.svg);
    background-size:contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    height: 40px;
    width: 40px;
    top: -45px;
    right: -45px;
}

.modal__close-button:hover{
    opacity: 0.6;
}

.modal__form{
    width: 358px;
    display: flex;
    flex-direction: column;
    padding: 36px;
    gap: 29px;
    top: 54px;
    position: relative;
}

.modal__form-input {
    height: 28px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: rgba(84, 84, 84, 70%);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-weight: 400;
    font-size: 14px;
    font-family: Inter, Arial, Helvetica, sans-serif;
  }
  
  .modal__button {
    height: 50.15px;
    bottom: 36.51px;
    top: 19px;
    position: relative;
    background-color: black;
    color: white;
    font-weight: 400;
    font-size: 18px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    cursor: pointer;
  }

  .modal__button:hover{
    opacity: 0.8;
  }

  .modal__heading{
    top: 34px;
    width: 330px;
    height: 23px;
    font-weight: 900;
    font-size: 24px;
    color: black;
    left: 36px;
    position: relative;
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
  }

  .modal__container_type_preview{
    background: transparent;
    max-width: 75vw;
    max-height: 75vh;
    width: auto;
    height: auto;
    display: flex;
  }

  .modal__imgae_popup{
    max-width: 100%;
    max-width: 100%;
    object-fit: cover;
    justify-content:center;
  }

  .modal__image_title{
    margin-top: 5px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
  }

  @media screen and (max-width:420px) {
    .modal__form {
        width: 238px;
    }
    
    .modal__form button{
        height: 46px;
    }

    .modal__close-button{
        height: 26px;
        width: 26px;
        right: 0;
    }

    .modal__container{
        height: 322px;
        width: 282px;
        padding: 22px;
    }
    
  }