.profile{
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.profile__info{
    display: grid;
    grid-template-areas: 
    "title button"
    "desciption description"; 
    height: 77px;  
    grid-template-columns: minmax(auto, 375px) auto;
    align-items: center;
    gap: 0 18px;
}

.profile__image{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-right: 24px;
    object-fit: cover;
    background-position: center;
}

.profile__title{
    margin: 0;
    padding-bottom: 10px;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 77px;
    grid-area: title;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: Inter,Arial, Helvetica, sans-serif;
    line-height: 48px;
}

.profile__edit-button{
 background: transparent url(../images/Edit-button.svg) center no-repeat;
 height: 24px;
 width: 24px;
 align-self: center;
 grid-area: button;
 border: solid white 1px;
}

.profile__description{
 font-size: 18px;
 font-weight: 400;
 line-height: 21.78px;
 grid-area: desciption;
 text-align: left;
 margin: 0;
 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
 font-family: Inter, Arial, Helvetica, sans-serif;
}

.profile__add-button{
    background: transparent url(../images/add\ button.svg) center no-repeat;
    height: 50px;
    width: 150px;
    border-radius: 2px;
    border: solid white 2px;
    margin-left: auto;
    padding: 0;
    position: relative;
}

.profile__add-button:hover{
    cursor: pointer;
    opacity: 60%;
}

.profile__edit-button:hover{
    cursor: pointer;
    opacity: 60%;
}

@media screen and (max-width:420px) {
    .profile{
      flex-direction: column;
      justify-content: center;
      height: 282px;
    }

    .profile__info{
        display: flex;
        flex-wrap: wrap;
        max-width: 282px;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        gap: 0 14px;
    }

    .profile__description{
        text-align: center;
        font-size: 14px;
        width: 100%;
        max-width: 282px;
    }

    .profile__add-button{
        max-width: 282px;
        width: 100%;
        margin: 0;
    }

    .profile__title {
        text-align: center;
        font-size: 22px;
        line-height: normal;
        max-width: 196px;
        padding-bottom: 0;
    }

    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin: 0;
    }
}